.about {
  
  height: 50vh;
  width: 85%;
  margin: auto;
}
.about-heading {
  text-align: center;
}
.about-heading span{
  display: inline-block;
  padding: 0.15rem;
  border: 1px solid #fff;
}
.about p {
  text-align: left;
}