.navbar {
  position: fixed;
  padding:0;
  width: 85%;
  top:0;
  left:7.5%;
  right:7.5%;
  z-index: 5;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .brand {
  font-family: 'Dancing Script', cursive;
  padding: 0 0 0 0.2rem;
  margin-top: -2.85rem;
  font-size: 6.5rem;
  font-weight: 700;
}

.navbar .fa-bars {
  font-size: 2rem;
  color: #f9f9f9;
  display: none;
}
.navlist {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0; padding: 0;
}

.navlist li {
  font-size: 0.9rem;
  margin: 0 1.5rem;
  /* padding: 0.2rem 0.5rem; */
}

.navlist li a{
  display: inline-block;
  text-decoration: none;
  color: #f9f9f9;
}

.navlist li a:hover {
       padding-bottom: .05rem;
       border-bottom: .075rem solid #f9f9f9;
       
}

@media (max-width: 768px) {
  .navbar .fa-bars {
    display: block;
  }
  .nav {
    position: fixed;
    width: 85%;
    top: -120%;
    left: 7.5%;
    background-color: rgba(0,0,0,0.8);
    
  }
  .nav .navlist {
    height: calc(100vh - 3.2rem);
    flex-flow: column;
    justify-content: center;
    align-items: center;

  }
  .navlist li {
    font-size: 1.3rem;
    margin: 1.5rem 0;
  }
  .nav-toggle {
    top: 3.2rem;
  }

}