
*{
  padding: 0;
  margin: 0;
  overflow-x: hidden; 
}

body {
  background-color: rgba(45,45,45,1);
  color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  height: 100vh;
  background-image: url('./components/images/home2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  outline: none
}

