
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; 
}

body {
  background-color: rgba(45,45,45,1);
  color: #f9f9f9;
  width:100%;
  max-width: 1500px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color:#f9f9f9;
}
.home {
  height: 100vh;
  min-height: 575px;
  background-image: url('./components/images/home2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  outline: none
}

.portfolio-content .latest-project {
  background-image: url('./components/images/img8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.portfolio-content .project-1 {
  background-image: url('./components/images/img1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio-content .project-2 {
  background-image: url('./components/images/img7.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio-content .project-3 {
  background-image: url('./components/images/img3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio-content .project-4 {
  background-image: url('./components/images/img2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


